.faq {
  margin: 0;
  padding: 77px 15px 70px;

  @media (min-width: $tablet-width) {
    padding: 0 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 103px;
  }
}

.faq__title {
  margin: 0;
  padding: 0;
  text-align: center;
}


