.faq {
  margin: 0 auto;
  padding: 51px 15px 21px;
  width: 290px;

  @media (min-width: $tablet-width) {
    padding: 45px 45px 21px;
    width: 678px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 206px;
    width: 1028px;
  }
}

.faq__title {
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 16px;
  }
}

.faq__list {
  margin: 0;
  padding: 29px 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
  }
}
