.modal {
  margin: 0;
  padding: 23px 0 14px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(13, 29, 51, 0.4);
  display: none;

  @media (min-width: $tablet-width) {
    padding: 204px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 90px 0 61px;
  }
}

.modal--show {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal__window {
  position: relative;
  margin: 0 auto;
  padding: 37px 15px 40px;
  width: 260px;
  background-color: $base-white;
  border-radius: 16px;

  @media (min-width: $tablet-width) {
    padding: 55px 80px 60px;
    width: 350px;
  }

  @media (min-width: $desktop-width) {
    padding: 54px 80px 60px;
  }
}

.modal__toggle {
  position: absolute;
  top: 13px;
  right: 13px;
  background: url("/__spritemap#sprite-modal-close-view") no-repeat center;
  background-size: 16px 16px;
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: 21px;
    right: 21px;
    background-size: 20px 20px;
    width: 40px;
    height: 40px;
  }

  &:hover {
    border-color: rgba(49, 109, 194, 0.6);
  }

  &:focus {
    border-color: $base-blue;
    outline: none;
  }

  &:active {
    border-color: $secondary-blue;
  }

  &:disabled {
    opacity: 0.6;
  }
}

.modal__header {
  text-align: center;
  padding-bottom: 18px;
}

.modal__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: $base-blue;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $desktop-width) {
    font-size: 32px;
    line-height: 36px;
  }
}

.modal__description {
  margin: 0;
  padding: 13px 28px 0 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    padding: 17px 2px 12px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 13px;
    line-height: 26px;
  }
}

.modal__description br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.modal__form {
  gap: 8px;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }
}

.modal__label {
  font-size: 14px;
  opacity: 0.8;
  color: $base-grey;
}

.modal__input {
  margin-top: 3px;
  width: 260px;
  height: 44px;
  border-color: rgba(72, 72, 72, 0.3);
  color: $base-grey;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    width: 350px;
    height: 50px;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
    border-color: $base-grey;
  }
}

.modal__input-select {
  color: $base-grey;
  background: url("/__spritemap#sprite-modal-arrow-view") no-repeat 223px 13px;
  background-size: 16px 16px;

  @media (min-width: $tablet-width) {
    background-position: 313px 16px;
  }
}

.modal__input-select.opened {
  background: url("/__spritemap#sprite-modal-arrow-up-view") no-repeat 223px 13px;
  background-size: 16px 16px;

  @media (min-width: $tablet-width) {
    background-position: 313px 16px;
  }
}

.modal__input-error {
  border-color: $error-color;
  background: rgba(255, 94, 102, 0.2);
  opacity: 0.7;
}

.modal__checkbox {
  background-color: $base-blue;

  &:checked {
    background-color: $base-blue;
  }

  &:hover,
  &:focus {
    border-color: $base-blue;
  }

  @media (min-width: $desktop-width) {
    margin-top: -2px;
  }
}

.modal__label-checkbox {
  color: $base-grey;
  opacity: 0.9;
  padding-left: 10px;
}

.modal__form-button {
  height: 42px;
  padding: 5px 4px 4px 74px;
  margin-top: 10px;

  &::after {
    right: 3px;
    top: 3px;
  }

  &::before {
    width: 10px;
    height: 10px;
    right: 15px;
    top: 15px;
  }

  @media (min-width: $tablet-width) {
    width: 194px;
    height: 54px;
    padding: 4px 4px 4px 29px;
    margin: 10px auto 0;

    &::before {
      right: 21px;
      top: 21px;
    }
  }
}

.modal__form-button:active::after {
  background-color: $base-white;
}

.modal__form-button:active::before {
  filter: invert(59%) sepia(89%) saturate(494%) hue-rotate(175deg) brightness(96%) contrast(91%);
}
