.news {
  margin: 0 auto;
  padding: 50px 15px;
  width: 290px;

  @media (min-width: $tablet-width) {
    padding: 50px 45px;
    width: 678px;
  }
}

.news__title {
  text-align: center;
  padding-top: 1px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.news__tabs {
  margin: 0;
  padding: 23px 0 24px;
  display: flex;
  gap: 12px;
  align-items: center;
  overflow-y: auto;
  width: 305px;

  @media (min-width: $tablet-width) {
    margin-left: 2px;
    padding: 30px 0;
    width: 674px;
  }
}

.news__tabs-button {
  margin: 0;
  padding: 1px 16px 0 13px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: rgb(49, 109, 194, 0.6);
  border: none;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    padding: 0 19px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
  }
}

.news__tabs-button--active {
  color: $base-blue;
  border: 2px solid $base-blue;
  border-radius: 20px;
  padding: 11px 15px 9px 14px;

  @media (min-width: $tablet-width) {
    padding: 14px 20px;
  }
}

.news__slide {
  border-radius: 12px;
  min-height: 240px;
}

.news__slide-one {
  background: url("../img/news/photo-1-mob.jpg") no-repeat center;
  object-fit: cover;
  min-height: 330px;

  @media (min-width: $tablet-width) {
    background: url("../img/news/photo-1-tab.jpg") no-repeat center;
    min-height: 350px;
  }
}

.news__slide-two {
  background: url("../img/news/photo-2-mob.jpg") no-repeat center;
  object-fit: cover;
  order: 4;

  @media (min-width: $tablet-width) {
    order: unset;
    background: url("../img/news/photo-2-tab.jpg") no-repeat center;
    min-height: 350px;
  }
}

.news__slide-three {
  background: url("../img/news/photo-3-tab.jpg") no-repeat center;
  object-fit: cover;
  background-size: 290px 330px;
  min-height: 330px;

  @media (min-width: $tablet-width) {
    background-size: 324px 350px;
    min-height: 350px;
    order: 1;
  }
}

.news__slide-four {
  background: url("../img/news/photo-4-tab.jpg") no-repeat center;
  object-fit: cover;
  background-size: 290px 250px;
  order: 4;

  @media (min-width: $tablet-width) {
    order: 1;
    background-size: 324px 350px;
    min-height: 350px;
  }
}

.news__slide-content {
  position: absolute;
  bottom: 0;
}

.news__slide-one .news__slide-data {
  padding-right: 12px;

  &::after {
    left: 78px;
  }
}

.news__slide-two .news__slide-data {

  @media (min-width: $tablet-width) {
    padding-right: 13px;

    &::after {
      left: 79px;
    }
  }

}

.news__slide-data {
  margin: 0;
  padding: 13px 13px 5px 0px;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.12px;
  color: $base-blue;
  border-radius: 0px 12px 0px 0px;
  background-color: $biege;
  display: block;
  width: 66px;
  word-break: keep-all;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(/__spritemap#sprite-angle-news-view) no-repeat center;
  }

  &::after {
    left: 79px;
    top: 14px;
  }

  &::before {
    left: 0;
    top: -16px;
  }

  @media (min-width: $tablet-width) {
    padding: 13px 12px 5px 0px;
    line-height: 12px;
    width: min-content;

    &::after {
      left: 75px;
    }
  }
}

.news__slide-title {
  margin: 0 90px 0 0;
  padding: 10px 18px 4px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: $base-blue;
  border-radius: 0px 12px 0px 0px;
  background-color: $biege;

  @media (min-width: $tablet-width) {
    margin-right: 117px;
    padding: 11px 18px 5px 0;
    font-size: 20px;
    line-height: 24px;
  }
}

.news__slide-wrapper {
  position: relative;
  margin: 0 27px 0 0;
  padding: 13px 10px 9px 0px;
  display: grid;
  grid-template-columns: 1fr 30px;
  align-items: center;
  gap: 10px;
  border-radius: 0px 12px 0px 12px;
  background-color: $biege;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(/__spritemap#sprite-angle-news-view) no-repeat center;
  }

  &::after {
    right: -16px;
    bottom: 0;
  }

  &::before {
    right: 47px;
    top: -16px;
  }

  @media (min-width: $tablet-width) {
    margin-right: 84px;
    padding: 12px 18px 15px 0px;

    &::before {
      right: 17px;
    }
  }
}

.news__slide-wrapper p {
  margin: 0;
  padding: 0 15px 0 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    padding-right: 6px;
    font-size: 14px;
    line-height: 20px;
  }
}

.news__slide-link {
  position: relative;
  top: -1px;
  background-color: $base-blue;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: url(/__spritemap#sprite-arrow-view) no-repeat center;
    right: 11px;
    top: 11px;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    top: 0;
  }
}

.news__wrap {
  margin-top: 4px;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
  }
}

.news__pagination {
  width: 152px;
  margin: 0 auto;
  position: relative;
  z-index: 10;

  @media (min-width: $tablet-width) {
    width: 188px;
  }
}

.news__pagination-bullet {
  width: 26px;
  height: 26px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  padding: 6px 0;
  background-color: transparent;
  border: none;

  @media (min-width: $tablet-width) {
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 20px;
  }
}

.news__navigation {
  position: relative;
  margin-top: -24px;

  @media (min-width: $tablet-width) {
    margin-top: -27px;
  }
}
