.advantages {
  position: relative;
  margin: 0 auto;
  padding: 20px 15px;
  width: 290px;

  @media (min-width: $tablet-width) {
    width: 678px;
    padding: 40px 45px;

    &::after {
      content: "";
      position: absolute;
      width: 768px;
      height: 996px;
      background: url("../img/advantages/clouds.png") no-repeat center;
      background-size: auto;
      top: 166px;
      left: 0;

      @media (resolution >= 2dppx) {
        background: url("../img/advantages/clouds@2x.png") no-repeat center;
        background-size: contain;
      }
    }

    @media (min-width: $desktop-width) {
      width: 1440px;
      padding: 100px 0;

      &::after {
        visibility: hidden;
      }
    }
  }
}

.advantages__title {
  margin: 0;
  padding: 17px 0 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 21px 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 35.5px 120px 50px;
  }
}

.advantages__title-shadow {
  position: absolute;
  top: 23px;
  left: 51px;

  @media (min-width: $tablet-width) {
    top: 45px;
    left: 216px;
  }

  @media (min-width: $desktop-width) {
    top: 105px;
    left: 490px;
  }
}

.advantages__wrapper {
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    max-width: 678px;
    margin: 0 auto;
    flex-direction: row;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    gap: unset;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0 120px;
    max-width: 1200px;
  }
}

.advantages__slide {
  margin-bottom: 15px;


  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    max-width: 324px;
  }

  @media (min-width: $desktop-width) {
    max-width: unset;
  }
}

.advantages__slide:nth-child(5) {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.advantages__content {
  padding: 20px 10px 19px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  background-color: $base-white;
  border: 1px solid rgba(2, 102, 193, 0.1);

  &::before {
    content: "";
    position: absolute;
    width: 40.4px;
    height: 40.4px;
    top: 19px;
    left: 123px;
    border: 1px solid $base-blue;
  }

  @media (min-width: $tablet-width) {
    padding: 30px 19px;

    &::before {
      width: 46.4px;
      height: 46.4px;
      top: 28px;
      left: 137px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 40px 20px;

    &::before {
      width: 52.4px;
      height: 52.4px;
      left: 163px;
      top: 38px;
    }
  }
}

.advantages__content--safety {
  &::before {
    background: url("/__spritemap#sprite-safety-view") no-repeat center;
    background-size: 24px 24px;
  }
}

.advantages__content--expertise {
  &::before {
    background: url("/__spritemap#sprite-expertise-view") no-repeat center;
    background-size: 24px 24px;
  }
}

.advantages__content--expertise p br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.advantages__content--boots {
  &::before {
    background: url("/__spritemap#sprite-boots-view") no-repeat center;
    background-size: 24px 24px;
    top: 19px;

    @media (min-width: $tablet-width) {
      top: 29px;
    }

    @media (min-width: $desktop-width) {
      top: 38px;
    }
  }
}

.advantages__content--boots .advantages__heading {
  padding-top: 62px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 72px;
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 83px;
  }
}

.advantages__content--boots .advantages__text br {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.advantages__content--path {
  &::before {
    background: url("/__spritemap#sprite-path-view") no-repeat center;
    background-size: 24px 24px;
    top: 19px;

    @media (min-width: $tablet-width) {
      top: 29px;
    }

    @media (min-width: $desktop-width) {
      top: 38px;
    }
  }
}

.advantages__content--path .advantages__text br {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.advantages__content--eco {
  &::before {
    background: url("/__spritemap#sprite-eco-view") no-repeat center;
    background-size: 24px 24px;
  }
}

.advantages__content--eco .advantages__heading {
  padding: 61px 15px 15px 10px;

  @media (min-width: $tablet-width) {
    padding: 70.5px 10px 15px 6px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 82.5px;
  }
}

.advantages__content h3,
.advantages__heading {
  margin: 0;
  padding: 61px 15px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    padding: 72px 10px 14px 9px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
    padding: 83px 10px 15px 9px;
  }
}

.advantages__heading span {
  padding-left: 4px;

  @media (min-width: $tablet-width) {
    padding-left: 4px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.advantages__content p,
.advantages__text {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.9px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22.07px;
  }

  @media (min-width: $desktop-width) {
    line-height: 22px;
  }
}

.advantages__navigation {
  @media (max-width: $tablet-width-only) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
    margin-top: 50px;
  }
}
