.advantages {
  position: relative;
  margin: 0;
  padding: 20px 15px;

  @media (min-width: $tablet-width) {
    padding: 40px 45px;

    &::after {
      content: "";
      position: absolute;
      width: 768px;
      height: 996px;
      background: url("../img/advantages/clouds.png") no-repeat center;
      background-size: auto;
      top: 166px;
      left: 0;

      @media (min-resolution: 2dppx) {
        background: url("../img/advantages/clouds@2x.png") no-repeat center;
        background-size: contain;
      }
    }

    @media (min-width: $desktop-width) {
      padding: 100px 120px;

      &::after {
        visibility: hidden;
      }
    }
  }
}

.advantages__title {
  margin: 0;
  padding: 16px 0 37px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 20px 0 61px;
  }
}

.advantages__title-shadow {
  position: absolute;
  top: 23px;
  left: 51px;

  @media (min-width: $tablet-width) {
    top: 44px;
    left: 216px;
  }
}

.advantages__wrapper {
  width: 288px;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    width: unset;
    gap: unset;
  }
}

.advantages__slide {
  border: 1px solid rgba(2, 102, 193, 0.1);
  margin-bottom: 15px;


  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 324px;
  }
}

.advantages__slide:nth-child(5) {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}

.advantages__content {
  padding: 20px 9px 19px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  background-color: $base-white;

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 18px;
    left: 123px;
    border: 1px solid $base-blue;
  }

  @media (min-width: $tablet-width) {
    padding: 30px 19px;

    &::before {
      width: 47px;
      height: 47px;
      top: 28px;
      left: 137px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 40px 20px;
  }
}

.advantages__content--safety {
  &::before {
    background: url("/__spritemap#sprite-safety-view") no-repeat center;
    background-size: 24px 24px;
  }
}

.advantages__content--expertise {
  &::before {
    background: url("/__spritemap#sprite-expertise-view") no-repeat center;
    background-size: 24px 24px;
  }
}

.advantages__content--boots {
  &::before {
    background: url("/__spritemap#sprite-boots-view") no-repeat center;
    background-size: 24px 24px;
    top: 19px;

    @media (min-width: $tablet-width) {
      top: 28px;
    }
  }
}

.advantages__content--path {
  &::before {
    background: url("/__spritemap#sprite-path-view") no-repeat center;
    background-size: 24px 24px;
    top: 19px;

    @media (min-width: $tablet-width) {
      top: 28px;
    }
  }
}

.advantages__content--eco {
  &::before {
    background: url("/__spritemap#sprite-eco-view") no-repeat center;
    background-size: 24px 24px;
  }
}

.advantages__content h3,
.advantages__heading {
  margin: 0;
  padding: 61px 15px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    padding: 72px 10px 14px 9px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
  }
}

.advantages__content p,
.advantages__text {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
  }
}

.advantages__navigation {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
  }
}
