.juri {
  margin: 0;
  padding: 0 15px 33px;

  @media (min-width: $tablet-width) {
    padding: 0 45px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 91px 48px 100px;
  }
}

.juri__title {
  margin: 0;
  text-align: center;
  padding: 34px 2px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 54px;
    line-height: 54px;
    font-weight: 600;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    padding-left: 55px;
  }
}

.juri__slide {
  margin: 0 auto;
  height: 280px;
  position: relative;
  cursor: pointer;
}

.juri__wrapper {
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 46px 59px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 55px 0 57px;
  }
}

.juri__img {
  width: 227px;
  height: 280px;
  z-index: 1;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 260px;
    height: 300px;
    box-sizing: border-box;
    overflow: hidden;
  }
}

.juri__name {
  padding: 0;
  margin: 0;
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  color: $base-white;
  text-align: center;
}

.juri__name--special {
  position: absolute;
  bottom: 32px;
  right: 25px;
  width: 177px;

  @media (min-width: $tablet-width) {
    bottom: 24px;
    right: 42px;
  }
}

.juri__info {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: 0.6s;
  background-color: #102654e3;
  width: 227px;
  height: 280px;
  padding: 45px 0 50px;
  box-sizing: border-box;
  z-index: 10000;

  @media (min-width: $tablet-width) {
    width: 260px;
    height: 300px;
  }
}

.juri__info:hover,
.juri__info:focus {
  opacity: 1;
}

.juri__text {
  margin: 8px 0 33px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #b6bdcc;
  text-align: center;
}

.juri__list {
  margin: 0 0 0 50px;
  padding: 0;
  text-align: left;
  list-style-type: disc;
  width: 160px;
}

.juri__item {
  margin: 0;
  padding: 0;
  color: $base-white;
}

.juri__item::marker {
  color: $base-white;
}
