// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

// Base-colors

$base-grey: #484848;
$base-white: #ffffff;
$base-blue: #316dc2;

// Additional-colors

$biege: #f0efe9;
$secondary-blue: #275699;
$disabled-color: #a9afb7;
$error-color: #ff5e66;
