.form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 13px;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }
}

.form__box {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 12px;
  }
}

.form__label {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: rgba(240, 239, 233, 0.8);

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;
  }
}

.form__input {
  width: 270px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  background: transparent;
  box-sizing: border-box;
  margin-top: 7px;
  padding: 16px 25px;
  color: $base-white;

  @media (min-width: $tablet-width) {
    width: 362px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
  }

  &:hover {
    border-color: $base-white;
  }

  &:focus,
  &:active {
    outline: none;
    border-color:$base-white;
  }

  &:disabled {
    border-color:rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.2);
  }
}

.form__input-error {
  border-color: $error-color;
  background: rgba(255, 94, 102, 0.2);
  opacity: 0.7;
}

.form__input-message {
  min-height: 94px;

  @media (min-width: $tablet-width) {
    min-height: 88px;
  }

  @media (min-width: $desktop-width) {
    min-height: 90px;
    margin-bottom: -3px;
  }
}

.form__box-select {
  position: relative;
}

.form__input-select {
  position: relative;
  width: 260px;
  height: 52px;
  appearance: none;
  padding: 17px 20px;
  color: $biege;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  background: url("/__spritemap#sprite-arrow-down-view") no-repeat 222px 18px;
  background-size: 16px 16px;

  &:focus {
    outline: none;
  }

  @media (min-width: $tablet-width) {
    width: 362px;
    background-position: 324px 18px;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
    background-position: 312px 17px;
  }
}

.form__input-select.opened {
  background: url("/__spritemap#sprite-arrow-up-view") no-repeat 222px 18px;
  background-size: 16px 16px;

  @media (min-width: $tablet-width) {
    background-position: 324px 18px;
  }

  @media (min-width: $desktop-width) {
    background-position: 312px 17px;
  }
}

.form__list {
  margin: 5px 0 0;
  padding: 0;
  list-style: none;
  position: absolute;
  background-color: $base-white;
  width: 260px;
  z-index: 10;
  border-radius: 8px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 362px;
    margin-top: 90px;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
  }
}

.form__list.closed {
  display: none;
}

.form__list.opened {
  display: block;
  transition: all 1s;
}

.form__item {
  margin: 0;
  padding: 17px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  &:hover {
    background-color: rgb(49, 109, 194, 0.4);
  }

  &:focus,
  &:active {
    outline: none;
    background-color: $base-blue;
    color: $base-white;
  }
}

.form__box-checkbox {
  padding: 8px 0 6px;
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 2px 0 0;
    flex-direction: row;
    gap: 0;
  }
}

.form__label-checkbox {
  position: relative;
}

.form__input-checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  appearance: none;
  background-color: $base-white;
  border: 1px solid transparent;
  border-radius: 2px;
  margin: -2px 0 0;
  cursor: pointer;
  grid-row: 1;

  &:checked {
    background: url("/__spritemap#sprite-check-view") no-repeat center $base-white;
    background-size: 10px 10px;
  }

  &:hover,
  &:focus {
    background: url("/__spritemap#sprite-check-hover-view") no-repeat center transparent;
    background-size: 10px 10px;
    border-color: $base-white;
    outline: none;
  }

  @media (min-width: $desktop-width) {
    margin-top: -3px;
  }
}

.form__input-text {
  margin: 0;
  padding-left: 10px;
  color: $base-white;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  grid-area: 1/2;

  @media (min-width: $tablet-width) {
    line-height: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -1px;
  }
}

.form__input-text br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__button {
  width: 260px;
  height: 44px;
  padding: 8px 6px 6px 74px;
  background-color: transparent;
  color: $base-white;
  border: 1px solid $base-white;

  &::after {
    background-color: $base-white;
  }

  &::before {
    filter: invert(59%) sepia(89%) saturate(494%) hue-rotate(175deg) brightness(96%) contrast(91%);
  }

  &:hover {
    background-color: $base-white;
    color: $base-blue;
  }

  &:active {
    background-color: $base-white;
    color: rgba(255, 255, 255, 0.7);
  }

  @media (min-width: $tablet-width) {
    width: 352px;
    height: 56px;
    margin-top: 20px;
    padding-top: 6px;
    padding-left: 108px;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
    padding-left: 107px;
  }
}

.form__button:hover::after,
.form__button:active::after {
  background-color: $base-blue;
}

.form__button:focus::after {
  background-color: $base-white;
}

.form__button:hover::before,
.form__button:active::before {
  filter: none;
}

.form__button:focus::before {
  filter: invert(59%) sepia(89%) saturate(494%) hue-rotate(175deg) brightness(96%) contrast(91%);
}
