.reviews {
  margin: 0 auto;
  padding: 56px 15px 50px;
  width: 290px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 678px;
    padding: 50px 45px 50px 45px;
  }
}

.reviews__box {
  @media (min-width: $tablet-width) {
    width: 723px;
  }
}

.reviews__slider {
  margin-top: 34px;

  @media (min-width: $tablet-width) {
    margin-top: 40px;
  }
}

.reviews__slide {
  min-height: 472px;

  @media (min-width: $tablet-width) {
    min-height: unset;
  }
}

.reviews__slide:nth-child(2) .reviews__slide-content {
  padding-bottom: 50px;
}

.reviews__slide-content {
  border-radius: 16px;
  border: 2px solid $base-blue;
  padding: 30px 15px;
  display: grid;
  gap: 9px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 218px 1fr;
    align-items: center;
    padding: 50px;
  }
}

.reviews__user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  @media (min-width: $tablet-width) {
    gap: 15px;
  }
}

.reviews__name {
  margin: -7px 0 0;
  padding: 0 146px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $base-blue;

  @media (min-width: $tablet-width) {
    margin-top: -6px;
    font-size: 20px;
    line-height: 24px;
  }
}

.reviews__info {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 26px;

  @media (min-width: $tablet-width) {
    grid-column: 2;
    min-height: 47px;
  }
}

.reviews__item {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.12px;
  color: $base-blue;
  text-transform: uppercase;
}

.reviews__text {
  margin: 0;
  padding: 8px 0 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0;
  color: $base-grey;
  text-transform: capitalize;

  @media (min-width: $tablet-width) {
    padding-top: 9px;
    font-size: 14px;
    line-height: 20px;
  }
}

.reviews__heading {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: $base-blue;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.reviews__wrap {
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
  }
}

.reviews__wrap p {
  margin: 0;
  padding: 20px 10px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    padding: 24px 8px 0 0;
    font-size: 16px;
  }
}

.reviews__container {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 678px;
    margin: 40px auto 0;
    align-items: center;
  }
}

.reviews__scrollbar {
  visibility: hidden;
  height: 0;

  @media (min-width: $tablet-width) {
    visibility: visible;
    height: 2px;
    background: rgba(49, 109, 194, 0.2);
    width: 562px;
  }
}

.reviews__scrollbar-drag {
  min-width: 325px;
}

.reviews__navigation {
  position: absolute;
  top: -528px;
  right: 0;
  width: 52px;
  gap: 8px;

  @media (min-width: $tablet-width) {
    position: relative;
    top: unset;
    right: unset;
    width: 54px;
    gap: 10px;
  }
}
