.tours {
  margin: 0;
  padding: 20px 15px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 41px 45px 40px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0 auto;
    padding: 100px 120px;
  }
}

.tours::after {
  content: "";
  position: absolute;
  background: url("../img/tours/clouds.png") no-repeat center;
  background-size: auto;
  width: 141px;
  height: 595px;
  top: 10px;
  right: 0;
  z-index: -1;

  @media (min-resolution: 2dppx) {
    background: url("../img/tours/clouds@2x.png") no-repeat center;
    background-size: contain;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/tours/clouds-tablet.png");
    width: 425px;
    height: 1630px;
    top: -92px;
    right: 0;

    @media (min-resolution: 2dppx) {
      background: url("../img/tours/clouds-tablet@2x.png") no-repeat center;
      background-size: contain;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/tours/clouds-desktop.png");
    width: 602px;
    height: 1630px;
    top: -126px;
    right: 0;

    @media (min-resolution: 2dppx) {
      background: url("../img/tours/clouds-desktop@2x.png") no-repeat center;
      background-size: contain;
    }
  }
}

.tours__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tours__title {
  padding: 19px 0 39px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 35px;;
  }

  @media (min-width: $desktop-width) {
    padding: 23px 0 50px;
  }
}

.tours__title-shadow {
  position: absolute;
  top: 23px;
  left: auto;

  @media (min-width: $tablet-width) {
    top: 46px;
  }

  @media (min-width: $desktop-width) {
    top: 105px;
  }
}

.tours__slider-navigation {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding-top: 19px;
  }
}

.tours__slider {
  height: 416px;
}

.tours__slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tours__slide:nth-child(1) {
  background-image: url("../img/tours/elbrus.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/tours/elbrus@2x.jpg");
    background-size: cover;
  }
}

.tours__slide:nth-child(2) {
  background-image: url("../img/tours/belukha.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/tours/belukha@2x.jpg");
    background-size: cover;
  }
}

.tours__slide:nth-child(2) .tours__info,
.tours__slide:nth-child(3) .tours__info {
  @media (max-width: $mobile-width-only) {
    padding: 161px 0 20px;
  }
}

.tours__slide:nth-child(2) .tours__text-box,
.tours__slide:nth-child(3) .tours__text-box {
  @media (max-width: $mobile-width-only) {
    margin-top: 15px;
    gap: 5px;
  }
}

.tours__slide:nth-child(2) .tours__text--nights,
.tours__slide:nth-child(3) .tours__text--nights {
  @media (max-width: $mobile-width-only) {
    margin-left: 42px;
  }
}

.tours__slide:nth-child(3) {
  background-image: url("../img/tours/adygea.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/tours/adygea@2x.jpg");
    background-size: cover;
  }
}

.tours__slide:nth-child(3) .tours__info {
  padding: 134px 0 20px;

  @media (min-width: $tablet-width) {
    padding: 165px 0 16px;
  }
}

.tours__slide:nth-child(4) {
  background-image: url("../img/tours/ural.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/tours/ural@2x.jpg");
    background-size: cover;
  }
}

.tours__slide-content {
  color: $base-white;
  padding: 30px 20px;
}

.tours__info {
  margin: 0;
  padding: 194px 0 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-bottom: 15px;
  }
}

.tours__text-box {
  display: flex;
}

.tours__text {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
  }
}

.tours__text--place {
  padding: 8px 12px 8px 34px;
  background-color: $base-blue;

  &::after {
    width: 16px;
    height: 16px;
    background: url("/__spritemap#sprite-pin-view") no-repeat center;
    top: 6px;
    left: 12px;
  }
}

.tours__text--days {
  margin-left: 32px;

  &::after {
    width: 20px;
    height: 20px;
    background: url("/__spritemap#sprite-day-view") no-repeat center;
    top: -4px;
    left: -32px;
  }
}

.tours__text--nights {
  margin-left: 47px;

  &::after {
    width: 16px;
    height: 16px;
    background: url("/__spritemap#sprite-night-view") no-repeat center;
    top: -2px;
    left: -30px;
  }
}

.tours__heading {
  margin: 0;
  padding: 0 15px 0 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background: $base-white;
    opacity: 0.2;
    bottom: -16px;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    padding-right: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 100px;
  }
}

.tours__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: min-content max-content max-content;
  justify-content: space-between;
  padding-top: 30px;

}

.tours__item {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
}

.tours__item:nth-child(3) {
  margin-left: 1px;
}

.tours__stars {
  width: 84px;
  height: 16px;
  display: inline-block;
  margin-top: 4px;

  @media (min-width: $tablet-width) {
    margin-top: 5px;
  }
}

.tours__stars-four {
  background: url("/__spritemap#sprite-stars-four-view") no-repeat center;
}

.tours__stars-three {
  background: url("/__spritemap#sprite-stars-three-view") no-repeat center;
}

.tours__stars-five {
  background: url("/__spritemap#sprite-stars-five-view") no-repeat center;
}

.tours__details {
  margin: 7px 0 0;
  padding: 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;

  @media (min-width: $tablet-width) {
    margin-top: 8px;
  }
}

.tours__link {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: $base-black;
  text-transform: uppercase;
  padding: 10px 28px 10px 10px;
  margin: 25px 39px 0;
  position: relative;
  box-sizing: border-box;
  background: url(/__spritemap#sprite-right-view) no-repeat 193px 10px;
  background-size: 12px 14px;

  &:hover {
    color: $base-blue;
    opacity: 0.1;
  }

  &:focus-within {
    outline: none;
    filter: invert(19%) sepia(100%) saturate(2878%) hue-rotate(197deg) brightness(95%) contrast(98%);
  }

  &:active {
    filter: invert(20%) sepia(10%) saturate(7372%) hue-rotate(201deg) brightness(94%) contrast(102%);
  }

  &:disabled {
    filter: invert(69%) sepia(0%) saturate(78%) hue-rotate(288deg) brightness(89%) contrast(85%);
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    margin: 25px 220px 0;
    background-position: 218px 10px;
  }

  @media (min-width: $desktop-width) {
    margin: 53px 481px 0;
  }
}
