.nav {
  position: absolute;
  width: 100%;
  background: $base-blue;
  left: 0;

  @media (min-width: $desktop-width) {
    position: relative;
    width: unset;
  }
}

.nav__toggle {
  display: block;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.nav--closed .nav__toggle {
  background: url("/__spritemap#sprite-close-toggle-view") no-repeat center;
  width: 26px;
  height: 26px;
  border: none;
  position: absolute;
  top: 0;
  left: 15px;

  @media (min-width: $tablet-width) {
    left: 45px;
    top: 8px;
  }
}

.nav--opened .nav__toggle {
  background: url("/__spritemap#sprite-open-toggle-view") no-repeat center;
  width: 26px;
  height: 26px;
  border: none;
  position: absolute;
  top: -80px;
  left: 15px;

  @media (min-width: $tablet-width) {
    top: -55px;
    left: 45px;
  }
}

.nav--opened {
  margin-top: 80px;
  background: rgba(45, 56, 63, 0.6);
  height: 568px;

  @media (min-width: $tablet-width) {
    margin-top: 63px;
    height: 1033px;
  }
}

.nav--opened .nav__list {
  padding: 20px 0 60px;

  @media (min-width: $tablet-width) {
    padding: 30px 0 44px;
  }
}

.nav--closed .nav__list-item {
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}
