.nav {
  position: absolute;
  width: 100%;
  background: $base-blue;
  left: 0;
}

.nav__toggle {
  display: block;
  cursor: pointer;
}

.nav--closed .nav__toggle {
  background: url("/__spritemap#sprite-close-toggle-view") no-repeat center;
  width: 26px;
  height: 26px;
  border: none;
  position: absolute;
  top: -55px;
  left: 15px;

  @media (min-width: $tablet-width) {
    top: -48px;
    left: 45px;
  }
}

.nav--opened .nav__toggle {
  background: url("/__spritemap#sprite-open-toggle-view") no-repeat center;
  width: 26px;
  height: 26px;
  border: none;
  position: absolute;
  top: -54px;
  left: 15px;
}

.nav--opened .nav__list {
  padding: 46px 0 0;
}

.nav--closed .nav__list-item {
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}
