.site-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background: $base-blue;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding-left: 164px;
    margin-top: 10px;
    gap: 31px;
  }
}

.site-list__item {
  padding: 0 15px 22px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0 45px 26px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.site-list__item:last-of-type {
  @media (min-width: $tablet-width) {
    padding-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.site-list__link {
  text-transform: uppercase;
  color: $base-white;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
  letter-spacing: 0.04em;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    font-weight: 400;
    text-transform: unset;
    letter-spacing: 0;
  }
}
