.site-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 3px;
  background: $base-blue;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding-left: 33px;
    margin-top: 12px;
    gap: 23px;
  }
}

.site-list__item {
  padding: 0 15px 21px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0 45px 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.site-list__link {
  text-transform: uppercase;
  color: $base-white;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
  letter-spacing: 0.04em;
  padding: 0;
  width: max-content;
  border-bottom: 1px solid transparent;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    font-weight: 400;
    text-transform: unset;
    letter-spacing: 0;
    text-align: center;
    padding: 0 3px;
    border: 1px solid transparent;
  }

  &:hover {
    border-bottom-color: $base-white;

    @media (min-width: $tablet-width) {
      padding: 0 3px;
    }
  }

  &:focus {
    outline: none;
    padding: 3px 5px;
    margin: -3px 0 -4px;
    border: 1px solid $base-white;
  }

  &:active {
    color: $second-blue;
    border-color: transparent;
    padding: 0;

    @media (min-width: $desktop-width) {
      padding: 0 3px;
    }
  }

  &:disabled {
    color: $disabled-color;
    padding: 0;

    @media (min-width: $desktop-width) {
      padding: 0 3px;
    }
  }
}
