.hero {
  margin: 0;
  padding: 0;
}

.hero__slider {
  height: 568px;

  @media (min-width: $tablet-width) {
    height: 1033px;
  }

  @media (min-width: $desktop-width) {
    height: 800px;
  }
}

.hero__slide {
  text-align: center;
  color: $base-white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__slide:nth-child(1) {
  background-image: url("../img/hero/caucasus-mobile.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero/caucasus-mobile@2x.jpg");
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/hero/caucasus-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero/caucasus-tablet@2x.jpg");
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/hero/caucasus-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero/caucasus-desktop@2x.jpg");
      background-size: cover;
    }
  }
}

.hero__slide:nth-child(2) {
  background-image: url("../img/hero/kamchatka-mobile.jpg") no-repeat center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero/kamchatka-mobile@2x.jpg");
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/hero/kamchatka-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero/kamchatka-tablet@2x.jpg");
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/hero/kamchatka-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero/kamchatka-desktop@2x.jpg");
      background-size: cover;
    }
  }
}

.hero__slide:nth-child(3) {
  background-image: url("../img/hero/altai-mobile.jpg") no-repeat center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero/altai-mobile@2x.jpg");
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/hero/altai-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero/altai-tablet@2x.jpg");
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/hero/altai-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero/altai-desktop@2x.jpg");
      background-size: cover;
    }
  }
}

.hero__slide-content {
  padding: 40px 15px;

  @media (min-width: $tablet-width) {
    padding: 30px 45px 90px;
  }
}

.hero__slide-content h3 {
  margin: 0;
  padding: 105px 0 0;
  font-size: 26px;
  font-weight: 800;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 56px;
    padding: 311px 0 0;
  }
}

.hero__slide-content p {
  margin: 0;
  padding: 14px 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 24px;
    padding: 14px 102px;
  }
}

.hero__link {
  width: 140px;
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: $base-white;
  text-align: center;
  margin: 47px auto 0;
  background: $base-blue;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
  }
}

.hero__text {
  display: none;
}

.hero__slide-content--special {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.hero__slide-content--special h3 {
  @media (min-width: $tablet-width) {
    padding: 106px 0 0;
  }
}

.hero__slide-content--special p {
  @media (min-width: $tablet-width) {
    padding: 14px 107px;
  }
}

.hero__slide-content--special::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    bottom: -320px;
    right: 163px;
    background: url("../img/hero/photo-cards-tablet.png") no-repeat center;
    width: 442px;
    height: 365px;

    @media (min-resolution: 2dppx) {
      background-image: url ("../img/hero/photo-cards-tablet@2x.png");
    }
  }
}
