.hero {
  margin: 0;
  padding: 0;
  position: relative;
}

.hero__devider {
  position: relative;
  margin: 0 auto;
  z-index: 2;
  width: 290px;

  @media (min-width: $tablet-width) {
    width: 678px;
  }

  @media (min-width: $desktop-width) {
    width: 1240px;
  }
}

.hero__devider-two {
  margin: 201px 0 0;
  position: absolute;

  @media (min-width: $tablet-width) {
    margin-top: 647px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 395px;
  }
}

.hero__pagination {
  padding: 10px 16px 11px;
  border-radius: 12px 12px 0 0;
  background-color: $base-white;
  width: 48px;

  @media (min-width: $tablet-width) {
    padding: 14px 20px;
    width: 60px;
    border-radius: 20px 20px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 12px 20px 15px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: url("/__spritemap#sprite-angle-2-mob-view") no-repeat center;
    z-index: 10;
    right: -10px;
    bottom: 0;

    @media (min-width: $tablet-width) {
      width: 20px;
      height: 20px;
      background: url("/__spritemap#sprite-angle-2-view") no-repeat center;
      right: -20px;
    }
  }
}

.hero__pagination-bullet {
  width: 8px;
  height: 8px;
  border: 2px solid $base-blue;
  background: transparent;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 12px;
    height: 12px;
  }

  &:hover {
    border-color: $base-white;
    background-color: $base-blue;
    opacity: 0.7;
  }

  &:focus {
    outline: none;
    background-color: $base-blue;
    opacity: none;
  }
}

.hero__pagination-bullet--active {
  border: none;
}

.hero__slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.hero__slide-one {
  background-image:
    image-set(url("../img/hero/photo-1-mobile@2x.webp") type("image/webp") 2x,
    url("../img/hero/photo-1-mobile.webp") type("image/webp") 1x,
    url("../img/hero/photo-1-mobile@2x.jpg") 2x,
    url("../img/hero/photo-1-mobile.jpg") 1x);


  @media (min-width: $tablet-width) {
    background-image:
      image-set(url("../img/hero/photo-1-tablet@2x.webp") type("image/webp") 2x,
      url("../img/hero/photo-1-tablet.webp") type("image/webp") 1x,
      url("../img/hero/photo-1-tablet@2x.jpg") 2x,
      url("../img/hero/photo-1-tablet.jpg") 1x);
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(url("../img/hero/photo-1@2x.webp") type("image/webp") 2x,
      url("../img/hero/photo-1.webp") type("image/webp") 1x,
      url("../img/hero/photo-1@2x.jpg") 2x,
      url("../img/hero/photo-1.jpg") 1x);
  }
}

.hero__slide-two {
  background-image:
    image-set(url("../img/hero/photo-2-mobile@2x.webp") type("image/webp") 2x,
    url("../img/hero/photo-2-mobile.webp") type("image/webp") 1x,
    url("../img/hero/photo-2-mobile@2x.jpg") 2x,
    url("../img/hero/photo-2-mobile.jpg") 1x);


  @media (min-width: $tablet-width) {
    background-image:
      image-set(url("../img/hero/photo-2-tablet@2x.webp") type("image/webp") 2x,
      url("../img/hero/photo-2-tablet.webp") type("image/webp") 1x,
      url("../img/hero/photo-2-tablet@2x.jpg") 2x,
      url("../img/hero/photo-2-tablet.jpg") 1x);
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(url("../img/hero/photo-2@2x.webp") type("image/webp") 2x,
      url("../img/hero/photo-2.webp") type("image/webp") 1x,
      url("../img/hero/photo-2@2x.jpg") 2x,
      url("../img/hero/photo-2.jpg") 1x);
  }
}

.hero__slide-three {
  background-image:
    image-set(url("../img/hero/photo-3-mobile@2x.webp") type("image/webp") 2x,
    url("../img/hero/photo-3-mobile.webp") type("image/webp") 1x,
    url("../img/hero/photo-3-mobile@2x.jpg") 2x,
    url("../img/hero/photo-3-mobile.jpg") 1x);


  @media (min-width: $tablet-width) {
    background-image:
      image-set(url("../img/hero/photo-3-tablet@2x.webp") type("image/webp") 2x,
      url("../img/hero/photo-3-tablet.webp") type("image/webp") 1x,
      url("../img/hero/photo-3-tablet@2x.jpg") 2x,
      url("../img/hero/photo-3-tablet.jpg") 1x);
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(url("../img/hero/photo-3@2x.webp") type("image/webp") 2x,
      url("../img/hero/photo-3.webp") type("image/webp") 1x,
      url("../img/hero/photo-3@2x.jpg") 2x,
      url("../img/hero/photo-3.jpg") 1x);
  }
}

.hero__slide-content {
  padding: 229px 15px 20px;
  width: 290px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 687px 15px 60px;
    width: 678px;
  }

  @media (min-width: $desktop-width) {
    padding: 433px 15px 60px;
    width: 1240px;
  }
}

.hero__slide-title {
  position: relative;
  margin: 0;
  padding: 20px 14px 16px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: $base-blue;
  background-color: $base-white;
  border-radius: 0 16px 16px 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 44px;
    padding: 30px 40px 24px;
    width: 579px;
    border-radius: 0 30px 30px 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 62px;
    padding: 40px 50px 30px;
    width: 868px;
  }

  &::after {
    right: 13px;
  }
}

.hero__slide-two .hero__slide-title,
.hero__slide-three .hero__slide-title {
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 22px;
  }
}

.hero__slide-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 198px;
    gap: 40px;
    background-color: $base-white;
    border-radius: 0 0 30px 30px;
    padding: 0 40px 35px;
    margin-right: 85px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 50px 35px;
    margin-right: 465px;
    align-items: center;
  }
}

.hero__slide-title,
.hero__slide-wrapper p {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: -9px;
    background: url("/__spritemap#sprite-angle-mobile-view") no-repeat center;

    @media (min-width: $tablet-width) {
      background: url("/__spritemap#sprite-angle-view") no-repeat center;
      width: 26px;
      height: 26px;
      bottom: -25px;
      right: 40px;
    }

    @media (min-width: $desktop-width) {
      right: 168px;
    }
  }
}

.hero__slide-wrapper p {
  position: relative;
  margin: 0 23px 0 0;
  padding: 0 14px 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 0 0 16px;
  background-color: $base-white;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    background-color: unset;
    border-radius: unset;
  }

  @media (min-width: $desktop-width) {
    line-height: 26px;
  }

  &::after {
    right: 73px;
  }
}

.hero__slide-wrapper p br:first-of-type {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.hero__slide-wrapper p br:last-of-type {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.hero__slide-two p,
.hero__slide-three p {
  padding-bottom: 37px;

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: unset;
  }
}

.hero__slide-two p {
  @media (min-width: $desktop-width) {
    padding-bottom: 7px;
  }
}

.hero__slide-three p {
  @media (min-width: $desktop-width) {
    padding-bottom: 33px;
  }
}

.hero__button-wrapper {
  margin-right: 106px;
  padding: 10px 15px;
  background-color: $base-white;
  border-radius: 0 0 14px 14px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    background-color: unset;
    border-radius: unset;
  }
}

.hero__button {
  width: 154px;
  height: 44px;
  padding-left: 20px;
  padding-top: 6px;

  @media (min-width: $tablet-width) {
    width: 198px;
    height: 56px;
    padding-left: 30px;
    padding-top: 5px;
  }

  @media (min-width: $desktop-width) {
    width: 199px;
    height: 58px;

    &::after {
      right: 5px;
    }

    &::before {
      right: 24px;
    }
  }
}

.hero__wrap {
  position: absolute;
  width: 100%;
  height: 528px;
  top: 0;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    height: 964px;
    padding: 30px 0;
  }

  @media (min-width: $desktop-width) {
    height: 740px;
  }
}
