.nav {
  width: 100%;
  left: 0;
  z-index: 10;
}

.nav__toggle {
  width: 136px;
  height: 54px;
  color: $base-blue;
  background-color: $base-white;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.2px;
  padding: 4px 4px 4px 21px;

  &::after {
    width: 46px;
    height: 46px;
    right: 3px;
    top: unset;
  }

  &::before {
    background: url("/__spritemap#sprite-toggle-close-view") no-repeat center;
    width: 18px;
    height: 8px;
    top: unset;
  }

  &:focus {
    border-color: rgba(49, 109, 194, 0.4);
  }

  @media (min-width: $tablet-width) {
    padding: 5px 5px 5px 21px;
    height: 56px;

    &::before {
      right: 18px;
      top: 23px;
    }
  }
}

.nav__toggle:hover::before,
.nav__toggle:focus::before,
.nav__toggle:active::before {
  transform: unset;
}

.nav--opened {
  position: absolute;
  top: -20px;
  width: 100%;
}

.nav--opened .nav__toggle {
  transition: all 0.5s ease-in-out;
  width: 290px;
  margin: 0 auto;
  background-color: $base-blue;
  color: $base-white;
  padding-left: 19px;
  top: 20px;

  @media (min-width: $tablet-width) {
    margin: 0 15px 0 auto;
    width: 286px;
    height: 54px;
  }
}

.nav--opened .nav__toggle::after {
  background-color: $base-white;
  right: 4px;

  @media (min-width: $tablet-width) {
    right: 3px;
  }
}

.nav--opened .nav__toggle::before {
  background: url("/__spritemap#sprite-toggle-open-view") no-repeat center;
  width: 20px;
  height: 20px;

  @media (min-width: $tablet-width) {
    right: 16px;
    top: 16px;
  }

  @media (min-width: $desktop-width) {
    right: 17px;
    top: 16px;
  }
}

.nav--opened .nav__list {
  width: 240px;
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear, visibility 1s linear;

  @media (min-width: $tablet-width) {
    width: 236px;
  }
}

.nav--closed .nav__list {
  width: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
}
