.nav {
  width: 100%;
  left: 0;
  z-index: 10;
}

.nav__toggle {
  width: 136px;
  height: 54px;
  color: $base-blue;
  background-color: $base-white;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.2px;
  padding: 4px 4px 4px 21px;
  border: 1px solid $base-blue;
  border-radius: 30px;

  &::after {
    width: 46px;
    height: 46px;
    right: 3px;
  }

  &::before {
    background: url("/__spritemap#sprite-toggle-close-view") no-repeat center;
    width: 18px;
    height: 8px;
  }

  &:hover,
  &:focus {
    color: $base-white;
    background-color: $base-blue;
    outline: none;
  }

  &:active {
    color: rgb(255, 255, 255, 0.7);
    background-color: $base-blue;
  }
}

.nav--opened {
  position: absolute;
  top: -20px;
  left: -15px;
  width: 320px;
  height: 568px;
  background: rgba(13, 29, 51, 0.4);
}

.nav--opened .nav__toggle {
  width: 290px;
  background-color: $base-blue;
  color: $base-white;
  padding-left: 19px;
  left: 15px;
  top: 20px;
}

.nav--opened .nav__toggle::after {
  background-color: $base-white;
  right: 4px;
}

.nav--opened .nav__toggle::before {
  background: url("/__spritemap#sprite-toggle-open-view") no-repeat center;
  width: 20px;
  height: 20px;
}

.nav--closed .nav__list {
  display: none;
}
