.site__list {
  margin: 4px 0 0;
  padding: 33px 25px;
  list-style: none;
  background-color: $base-blue;
  border-radius: 16px;
  width: 240px;
}

.site__list-item {
  margin: 0 0 24px 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.2px;
  text-align: left;
  text-transform: uppercase;
  color: $base-white;
  opacity: 0.7;
}

// .site__list-item--active {
//   background: url("/__spritemap#sprite-arrow-up-view") no-repeat center;
// }

// .site__list-item--programs,
// .site__list-item--news {
//   position: relative;

//   &::after {
//     content: "";
//     position: absolute;
//     width: 12px;
//     height: 12px;
//     top: 2px;
//     background: url("/__spritemap#sprite-arrow-down-view") no-repeat center;
//   }
// }

// .site__list-item--programs::after {
//   left: 115px;
// }

// .site__list-item--news::after {
//   left: 88px;
// }

.site__list-item:last-child {
  margin-bottom: 0;
}

.site__list-submenu {
  margin: 0;
  padding: 0 0 0 16px;
  list-style: none;
}

.site__list-subitem {
  margin: 12px 0 0;
  padding: 0;
  font-weight: 400;
  letter-spacing: 0;
  opacity: 0.6;
  text-transform: capitalize;
}

.site__list-subitem:nth-child(1) {
  margin-top: 16px;
}
