.site-list {
  margin: 24px auto 0;
  padding: 33px 25px;
  list-style: none;
  background-color: $base-blue;
  border-radius: 16px;
  width: 240px;
}

.site-list__item {
  margin: 0;
  padding: 0 0 24px;
}

.site-list__item:last-child {
  padding: 0;
}

.site-list__link {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.2px;
  text-align: left;
  text-transform: uppercase;
  color: $base-white;
  opacity: 0.7;
  display: flex;
  align-items: center;
  gap: 10px;
}

.site-list__svg {
  color: transparent;
  background: url("/__spritemap#sprite-arrow-down-view") no-repeat center;
  width: 12px;
  height: 8px;
}

.site-list__item--active .site-list__svg {
  background: url("/__spritemap#sprite-arrow-up-view") no-repeat center;
  background-size: 12px 12px;
}

.site-list__submenu--opened {
  margin: 11px 0 -4px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.site-list__submenu--closed {
  display: none;
}

.site-list__subitem-link {
  color: $base-white;
  margin: 0;
  padding: 0 0 0 16px;
  font-weight: 400;
  letter-spacing: 0;
  opacity: 0.6;
  text-transform: capitalize;
}
