.about {
  margin: 0 auto;
  padding: 50px 15px;
  width: 290px;

  @media (min-width: $tablet-width) {
    padding: 50px 45px;
    width: 678px;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 100px 60px;
    width: 1240px;
  }
}

.about__description {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 702px 1fr;
    gap: 40px;
  }
}

.about__container p {
  margin: 0;
  padding-top: 15px;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 31px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    font-size: 22px;
    line-height: 32px;
  }
}

.about__wrapper h3 {
  margin: 0;
  padding: 40px 0 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: $base-blue;

  @media (min-width: $tablet-width) {
    padding-top: 39px;
    padding-bottom: 30px;
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 40px;
    font-size: 32px;
    line-height: 36px;
  }
}

.about__wrapper p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 145px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    line-height: 26px;
  }
}

.about__button {
  width: 223px;
  height: 44px;
  margin: 30px 0 40px;
  padding-left: 20px;

  &::after {
    right: 4px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      right: 23px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 279px;
    height: 56px;
    margin: 40px 0 60px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 50px;
  }
}

.about__list {
  margin: 0;
  padding: 42px 20px 40px;
  list-style: none;
  color: $base-white;
  background-color: $base-blue;
  display: grid;
  gap: 22px;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    padding: 72px 50px 50px 70px;
    grid-template-columns: repeat(2, 253px);
    column-gap: 52px;
    row-gap: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 50px;
    padding-left: 120px;
    grid-template-columns: repeat(2, 484px);
  }
}

.about__list li {
  position: relative;
  margin: 0;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.16px;
  text-transform: uppercase;
  border: 1px solid $biege;
  border-radius: 16px;

  @media (min-width: $tablet-width) {
    padding: 16px 20px 15px;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.2px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 40px;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.26px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  &::after {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    background-color: $base-blue;
    border-radius: 50%;
    top: -22px;
    left: -21px;

  }

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 22px;
    background: url("/__spritemap#sprite-star-view") no-repeat center;
    top: -13px;
    left: -9px;
    z-index: 10;
  }
}

.about__list p {
  margin: 0;
  padding: 15px 0 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-transform: initial;
  letter-spacing: 0;

  @media (min-width: $tablet-width) {
    padding-top: 14px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}
