.training {
  margin: 0 auto;
  padding: 19px 15px 20px;
  position: relative;
  width: 290px;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 40px 45px 42px;

    &::after {
      content: "";
      position: absolute;
      background: url("../img/training/clouds-2-tablet.png") no-repeat center;
      background-size: auto;
      width: 465px;
      height: 280px;
      bottom: 160px;
      right: 0;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background: url("../img/training/clouds-2-tablet@2x.png") no-repeat center;
        background-size: contain;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding: 40px 120px 65px;
    width: 1200px;
    margin: 0 auto;

    &::after {
      background: url("../img/training/clouds-2-desktop.png") no-repeat center;
      background-size: auto;
      width: 633px;
      bottom: -3px;

      @media (min-resolution: 2dppx) {
        background: url("../img/training/clouds-2-desktop@2x.png") no-repeat center;
        background-size: contain;
      }
    }
  }
}

.training__title {
  margin: 0;
  padding: 18px 0 19px;

  @media (min-width: $tablet-width) {
    padding: 20px 0 19px;
  }

  @media (min-width: $desktop-width) {
    padding: 23px 0 17px;
  }
}

.training__title-shadow {
  position: absolute;
  top: 20px;
  left: auto;

  @media (min-width: $tablet-width) {
    top: 45px
  }
}

.training__box p {
  margin: 0;
  padding: 14px 0 7px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 5px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 325px;
  }
}

.training__box p br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.training__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.training__header {
  margin: 0;
  padding: 22px 0;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 57px;
    padding-bottom: 15px;
  }
}

.training__navigation {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 52px;
  }
}

.training__slider {
  height: 356px;

  @media (min-width: $tablet-width) {
    height: 388px;
  }

  @media (min-width: $desktop-width) {
    height: 356px;
  }
}

.training__slide {
  @media (min-width: $desktop-width) {
    width: 285px;
  }
}

.training__content {
  padding: 14px;
  border: 1px solid rgba(2, 102, 193, 0.1);
  min-height: 326px;
  background: $base-white;

  @media (min-width: $tablet-width) {
    min-height: 358px;
  }

  @media (min-width: $desktop-width) {
    min-height: 326px;
  }
}

.training__img {
  width: 260px;
  height: 200px;

  @media (min-width: $tablet-width) {
    width: 183px;
  }

  @media (min-width: $desktop-width) {
    width: 255px;
  }
}

.training__details {
  display: grid;
  padding-top: 12px;
  grid-template-columns: 142px max-content;
  justify-content: space-between;
}

.training__details h4,
.training__name {
  margin: 0;
  padding-right: 55px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;

  @media (min-width: $tablet-width) {
    padding-right: 15px;
  }
}

.training__link {
  position: relative;
  width: 24px;
  height: 24px;
  border: 1px solid rgb(45, 56, 63, 0.3);
  margin-top: -1px;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    background: url("/__spritemap#sprite-vk-view") no-repeat center center;
    width: 14px;
    height: 10px;
    top: 6px;
    left: 4px;
  }

  @media (min-width: $tablet-width) {
    margin-top: -2px;

    &::after {
      top: 7px;
    }
  }

  &:hover {
    border-color: $base-black;
  }

  &:focus {
    border-color: transparent;
    outline: none;
  }

  &:active {
    background-color: $base-blue;
    border-color: transparent;
  }
}

.training__link:active::after {
  filter: invert(100%) sepia(100%) saturate(7549%) hue-rotate(217deg) brightness(109%) contrast(250%);
}

.training__link:disabled::after {
  filter: invert(0%) sepia(40%) saturate(18%) hue-rotate(100deg) brightness(300%) contrast(130%);
}

.training__content--special p,
.training__description {
  margin: 0;
  padding: 13px 19px 0 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    padding-right: 7px;
  }
}

.training__description br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.training__heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  margin: 0;
  padding: 26px 0 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
    padding-top: 27px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    line-height: 21px;
    padding-top: 59px;
  }
}

.training__list {
  position: relative;
  margin: 24px 0 0 17px;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 25px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 183px;
    height: 2px;
    background: $base-blue;
    transform: rotate(-90.00deg);
    bottom: 109px;
    left: -102px;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      transform: unset;
      bottom: -11px;
      left: 23px;
      width: 98%;
    }
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 250px);
    margin: 100px 0 0;
    padding: 0;
    row-gap: 104px;
    column-gap: 155px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 250px);
    row-gap: 0;
    column-gap: 3px;
    margin-top: 25px;
  }
}

.training__item {
  position: relative;
  padding: 0 30px 0 45px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    background: $base-blue;
    border-radius: 50%;
    top: 11px;
    left: -17px;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      top: 75px;
      left: 20px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 34px;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 45px;
  }
}

.training__item--map {
  background: url("/__spritemap#sprite-map-view") no-repeat 12px 0;
  background-size: 25px 25px;

  @media (min-width: $tablet-width) {
    background-position: 0 2px;
  }

  @media (min-width: $desktop-width) {
    background-position: 10px 3px;
  }
}

.training__item--outfit {
  background: url("/__spritemap#sprite-outfit-view") no-repeat 12px 1px;
  background-size: 24px 24px;

  @media (min-width: $tablet-width) {
    background-position: 0 2px;
    grid-column: 1/2;
  }

  @media (min-width: $desktop-width) {
    background-position: 11px 3px;
    grid-area: unset;
  }
}

.training__item--eco {
  background: url("/__spritemap#sprite-pine-tree-view") no-repeat 12px 0px;
  background-size: 24px 25px;

  @media (min-width: $tablet-width) {
    background-position: 0 1px;
  }

  @media (min-width: $desktop-width) {
    background-position: 11px 3px;
  }
}

.training__item--eco::before {
  @media (min-width: $desktop-width) {
    left: 0;
  }
}

.training__item--hills {
  background: url("/__spritemap#sprite-hills-view") no-repeat 12px 1px;
  background-size: 25px 25px;

  @media (min-width: $tablet-width) {
    background-position: 1px 2px;
    grid-column: 2 / 3;
    grid-row: 1;
  }

  @media (min-width: $desktop-width) {
    background-position: 13px 3px;
    grid-area: unset;
  }
}

.training__text {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.training__text br {
  @media (max-width: $tablet-width-only) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}
