.contacts {
  padding: 0 0 14px;
  position: relative;
  margin: 0 auto;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0 auto;
    padding: 23px 120px 95px;
    display: flex;
  }
}

.contacts__title {
  margin: 0;
  padding: 17px 0 16px;
  word-break: break-all;

  @media (min-width: $tablet-width) {
    padding: 20px 0 5px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.contacts__title-shadow {
  position: absolute;
  left: auto;
  top: 3px;

  @media (min-width: $tablet-width) {
    top: 6px;
  }
}

.contacts__wrapper {
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    padding: 0 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.contacts__wrapper p {
  margin: 0;
  padding: 12px 15px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 14.5px 195px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 22px 117px 0 0;
  }
}

.contacts__wrapper .contacts__text {
  padding: 0;
  margin-top: 8px;
  width: max-content;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
    margin-top: 6px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
  }
}

.contacts__wrapper .contacts__text br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.contacts__list {
  margin: 0;
  padding: 30px 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    gap: 35px;
    padding: 50px 0 0;
  }
}

.contacts__item {
  position: relative;
  margin: 0;
  padding: 0 0 0 32px;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;

  &::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    top: 0;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    padding-left: 34px;

    &::after {
      width: 24px;
      height: 24px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
    padding-left: 56px;

    &::after {
      width: 26px;
      height: 26px;
      top: 12px;
    }
  }
}

.contacts__item--phone {
  &::after {
    background: url("/__spritemap#sprite-phone-view") no-repeat center;
  }
}

.contacts__item--email {
  &::after {
    background: url("/__spritemap#sprite-mail-view") no-repeat center;
  }
}

.contacts__item--address {
  &::after {
    background: url("/__spritemap#sprite-address-view") no-repeat center;
  }
}

.contacts__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $base-black;
  margin-top: 8px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
    margin-top: 6px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 8px;
  }

  &:hover {
    color: rgba(2, 102, 193, 0.1);
  }

  &:focus {
    outline: none;
    color: $base-blue;
  }

  &:active {
    color: $second-blue;
  }

  &:disabled {
    color: $disabled-color;
  }
}

.contacts__img {
  background: linear-gradient(142.94deg, rgba(15, 20, 41, 0.33) 12.38%, rgba(15, 20, 41, 0) 99.43%);
  width: 320px;
  height: 343px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 340px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 324px;
    margin-top: 25px;
  }
}
