.footer {
  padding: 20px 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 41px 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0 32px;
  }
}

.footer__container {
  padding: 23px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 23px;
  border-top: 1px solid rgb(45, 56, 63, 0.2);
  width: 290px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 678px;
    padding: 34px 45px;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 120px 31px;
    gap: 110px;
  }
}

.footer__logo {
  width: 142px;
  height: 42px;
  align-self: center;

  @media (min-width: $desktop-width) {
    align-self: unset;
    padding: 0 29px;
  }
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 120px);
  row-gap: 13px;
  column-gap: 50px;
  justify-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(6, max-content);
    column-gap: 23px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin-left: -57px;
  }
}

.footer__item {
  margin: 0;
  padding: 0;
}

.footer__item:nth-child(2) {
  @media (max-width: $mobile-width-only) {
    grid-row: 2;
  }
}

.footer__item:nth-child(3) {
  @media (max-width: $mobile-width-only) {
    grid-row: 3;
  }
}


.footer__link {
  margin: 0;
  padding: 0;
  color: $base-black;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  border: 1px solid transparent;

  @media (min-width: $desktop-width) {
    padding: 0 3px;
    font-size: 16px;
    line-height: 16px;
  }
}

.footer__link:hover {
  padding: 0 3px;
  margin: 0 -3px;
  border-bottom-color: $base-black;

  @media (min-width: $desktop-width) {
    padding: 0 3px;
    margin: 0;
  }
}

.footer__link:focus {
  padding: 0 3px;
  margin: 0 -3px;
  outline: none;
  border-color: $base-black;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.footer__link:active {
  color: $base-blue;
  border-color: transparent;
  padding: 0 3px;
}

.footer__link:disabled {
  color: $disabled-color;
  padding: 0 3px;
}

.footer__phone {
  @media (max-width: $tablet-width-only) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    padding: 4px 0 0;
    align-self: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    color: $base-black;

    &:hover {
      color: rgba(2, 102, 193, 0.1);
    }

    &:focus {
      outline: none;
      color: $base-blue;
    }

    &:active {
      color: $second-blue;
    }

    &:disabled {
      color: $disabled-color;
    }
  }
}

.footer__text {
  margin: 23px 0 0;
  padding: 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 33px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 22px;
  }
}
