.footer {
  margin: 0 auto;
  padding: 40px 15px;
  width: 290px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  @media (min-width: $tablet-width) {
    padding: 40px 45px;
    width: 678px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 100px 40px;
    width: 1240px;
    display: block;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    gap: 52px;
  }
}

.footer__logo {
  width: 52px;
  height: 52px;
  display: block;
}

.footer__list {
  margin: 0;
  padding: 20px 0 21px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    margin-right: 2px;
    padding: 16px 0;
    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    padding: 18px 0;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 950px;
  }
}

.footer__item {
  margin: 0;
  padding: 0;
}

.footer__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $base-grey;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    padding-right: 1px;
    line-height: 17px;
  }

  &:hover {
    color: rgba(49, 109, 194, 0.6);
    background-color: unset;
  }

  &:focus {
    color: $base-blue;
  }

  &:active {
    color: $secondary-blue;
    background-color: unset;
  }
}

.footer__social {
  order: 2;
}

.footer__wrapper {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-items: center;
  gap: 11px;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    padding-top: 25px;
    gap: 10px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: unset;
    justify-content: space-between;
    padding-top: 33px;
  }
}

.footer__text {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  opacity: 0.6;

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 1px;
    opacity: unset;
  }
}

.footer__text--policy {
  opacity: unset;
  order: 1;
  border-bottom: 1px solid $base-grey;
  padding-bottom: 1px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 2px;
  }

  &:hover {
    color: rgba(49, 109, 194, 0.6);
    border-color: rgba(49, 109, 194, 0.6);
    background-color: unset;
  }

  &:focus {
    color: $base-blue;
    border-color: $base-blue;
    outline: none;
  }

  &:active {
    color: $secondary-blue;
    border-color: $secondary-blue;
    background-color: unset;
  }
}
