.social {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 290px;
  gap: 20px;

  @media (min-width: $tablet-width) {
    width: auto;
    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    gap: 10px;
  }
}

.social__item {
  display: block;
  background-color: $base-white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.social__item:hover {
  background-color: #74819c;
}

.social__item:focus-within {
  outline: none;
  background-color: $light-blue;
}

.social__item:active {
  background-color: $base-blue;
}

.social__link {
  width: 16px;
  height: 16px;
}

.social__link:hover,
.social__link:focus,
.social__link:active {
  outline: none;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(303deg) brightness(103%) contrast(101%);
}

.social__link--vk {
  background: url("/__spritemap#sprite-vk-view") no-repeat center;
}

.social__link--ok {
  background: url("/__spritemap#sprite-ok-view") no-repeat center;
}

.social__link--reddit {
  background: url("/__spritemap#sprite-reddit-view") no-repeat center;
}
