.button {
  position: relative;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.24px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  color: $base-blue;
  background-color: $base-white;
  border: 1px solid $base-blue;
  border-radius: 30px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 5px 5px 5px 21px;

  &::after {
    content: "";
    position: absolute;
    width: 34px;
    height: 34px;
    background-color: $base-blue;
    border-radius: 44px;
    right: 4px;
    top: 4px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: url("/__spritemap#sprite-arrow-view") no-repeat center;
    right: 17px;
    top: 17px;
    z-index: 1;
  }

  &:hover {
    color: $base-white;
    background-color: $base-blue;
  }

  &:focus {
    outline: none;
  }

  &:active {
    color: rgb(255, 255, 255, 0.7);
    background-color: $base-blue;
  }

  &:disabled {
    color: $disabled-color;
    border-color: $disabled-color;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
    padding-left: 31px;

    &::after {
      width: 46px;
      height: 46px;
      top: unset;
    }

    &::before {
      top: unset;
      right: 23px;
    }
  }
}

.button:hover::after,
.button:active::after {
  background-color: $base-white;
}

.button:focus:after {
  outline: none;
  background-color: $base-blue;
}

.button:disabled::after {
  background-color: $disabled-color;
}

.button:hover::before,
.button:active::before {
  transform: rotate(45deg);
  filter: invert(59%) sepia(89%) saturate(494%) hue-rotate(175deg) brightness(96%) contrast(91%);
}

.button:focus::before {
  transform: rotate(45deg);
  filter: none;
}
