.button {
  font-family: "Roboto Condensed", sans-serif;
  display: block;
  box-sizing: border-box;
  border: 2px solid $base-blue;
  text-align: center;
  background-color: transparent;
  text-transform: uppercase;
}
