.tab-price {
  width: 100%;
  margin: 0 auto;
}

.tab-price__head {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 46px;
  flex-wrap: nowrap;
  margin: 28px 0 31px;

  @media (min-width: $tablet-width) {
    margin: 36px 0 45px;
    gap: 44px;
  }

  @media (min-width: $desktop-width) {
    gap: 52px;
    margin: 21px 0 42px;
  }
}

.tab-price__tab {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #10265480;
  padding: 0 0 18px;
  border: none;
  background: transparent;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.tab-price__tab:hover {
  color: #102654b3;
  border-bottom: 2px solid #787878;
  ;
}

.tab-price__tab:focus {
  outline: none;
  color: $base-blue;
  border-bottom: 2px solid $base-blue;
}

.tab-price__tab:disabled {
  color: $base-blue;
  border-bottom: 2px solid $base-blue;
  opacity: 0.3;
}

.tab-price__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 35px;

  @media (min-width: $tablet-width) {
    gap: 40px;
    padding: 0 149px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: center;
    padding: 0;
    gap: 37px;
  }
}

.tab-price__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 49px 42px 50px;
  background-color: $base-white;
  z-index: 1;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 65px;
  }

  @media (min-width: $desktop-width) {
    padding: 65px 80px 67px;
  }
}

.tab-price__heading {
  margin: 0;
  padding: 1px 0 0;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
  }
}

.tab-price__text {
  margin: 0;
  padding: 17px 0 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 21px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 17px;
  }
}

.tab-price__shadow {
  font-size: 80px;
  line-height: 150%;
  font-weight: 700;
  color: #e8e8e8;
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    font-size: 100px;
    padding-top: 23px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 16px;
  }
}

.tab-price__box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: -65px;
  gap: 10px;

  @media (min-width: $tablet-width) {
    margin-top: -90px;
    gap: 14px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -87px;
    gap: 15px;
  }
}

.tab-price__price {
  position: relative;
  margin: 0;
  padding: 0;
  color: $light-blue;
  font-size: 48px;
  font-weight: 700;
  line-height: 150%;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }
}

.tab-price__icon {
  width: 24px;
  height: 33px;
  background: url("../img/sprite/ruble-mobile.svg") no-repeat center;
  display: block;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 42px;
    background-image: url("../img/sprite/ruble-tablet.svg");
  }
}

.tab-price__button {
  padding: 25px;
  width: 195px;
  height: 66px;
  margin: 28px auto 0;

  @media (min-width: $tablet-width) {
    padding: 26px;
    width: 250px;
    margin: 22px auto 0;
  }

  @media (min-width: $desktop-width) {
    width: 197px;
    margin-top: 16px;
  }
}

.tab-price__content {
  display: none;
}

.tab-price__content.tab-active {
  display: block;
}

.tab-price__tab.tab-active {
  color: $base-blue;
  border-bottom: 2px solid #d10a42;
}
