.tab-faq {
  width: 100%;
  margin: 0 auto;
}

.tab-faq__head {
  padding: 35px 0 36px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  @media (min-width:$tablet-width) {
    padding: 45px 0 46px;
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    grid-template-columns: 1fr;
    height: 54px;
    box-sizing: border-box;
  }
}

.tab-faq__tab {
  padding: 14px 22px;
  border: 1px solid #10265433;
  background: $base-white;
  color: $base-blue;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    padding: 17px 30px;
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    min-width: 260px;
    padding: 21px 48px;
    height: 54px;
    box-sizing: border-box;
  }
}

.tab-faq__tab:hover,
.tab-faq__tab:focus {
  outline: none;
  border-color: $base-blue;
}

.tab-faq__tab:disabled {
  color: #c8c9cc;
}

.tab-faq__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tab-faq__content {
  display: none;
}

.tab-faq__content.tab-active {
  display: block;
}

.tab-faq__tab.tab-active {
  padding: 15px 23px;
  border: none;
  background: linear-gradient(110.36deg, #ed0233 16.429%,#003eb7 97.638%);
  color: $base-white;

  @media (min-width: $tablet-width) {
    padding: 17px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 21px 48px;
  }
}
